<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:tiles="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org"
>
<head>
	<title>OpenID Social Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<header>
	</header>
	<div class="container">
		<section layout:fragment="content">
      		<p>Page content goes here</p>
    	</section>
	</div>
	<footer>	
      <p layout:fragment="footer">Custom footer here</p>
    </footer>
</body>
</html>